// Interaction
//
// A series of interaction utilities.
//
// Style guide: Utilities.Interaction

// Cursor
//
// Utilities to control cursor behavior
// 
// | Class Name       | CSS Values       |
// |------------------|------------------|
// | .cursor-pointer | cursor: pointer; |
// | .pointer-events-auto | pointer-events: auto; |
// | .pointer-events-none | pointer-events: none; |
//
// Style guide: Utilities.Interaction.Cursor
.cursor-pointer {
    cursor: pointer;
}

.pointer-events-auto {
    pointer-events: auto;
}

.pointer-events-none {
    pointer-events: none;
}